body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 80px;
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  color: blueviolet;
  padding: 20px 0 0px 10px;
}
p {
  color: #a6b4cc;
}
li {
  display: block;
  text-decoration: none;
  color: #a6b4cc;
}
ul {
  padding: 0 0 15px 12px;
}
.icon {
  font-size: 50px;
  position: relative;
  top: -8px;
}
.unit {
  font-size: 20px;
  position: relative;
  top: -35px;
}

a,
.f-unit {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  color: #885df1;
}
.c-unit {
  text-decoration: none;
  color: #000;
  cursor: default;
}
.c-unit:hover {
  color: #000;
}
.f-unit:hover {
  color: #66e1e9;
}

.weather-app {
  border: 1px solid rgb(163, 161, 161);
  max-width: 700px;
  display: block;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.438);
}
.form-control {
  width: 100%;
  margin: 5px 0 10px 5px;
  border: #f9f7fe;
  background-color: #f9f7fe;
}
.btn {
  font-size: 16px;
  margin: 5px 0 10px 0;
  background-color: #885df1;
  border: none;
  font-weight: 600;
  padding: 7px 38px;
}
.btn:hover {
  background-color: #885df1;
}
.five-day {
  text-align: center;
  padding-left: 60px;
}
.current-details {
  color: #f65282;
}
.high {
  color: #f65282;
}
.low {
  color: #fb9db8;
}
